// Variables
$bgcolor:          #f4f1ec;
$bgcolorspecial:   orange;
$bgcolornav:       rgb(40, 40, 151);
$textcolor:        #545149;
$textcolorspecial: white;
$textcolorhover:   black;
$textcolorerror:   rgb(255, 51, 0);
$bgcolortop:       red;
$fontfamily:       "Source Sans Pro", sans-serif;
$fontfamilylogo:   "Bungee", cursive;
$border:           rgb(83, 83, 83) 5px solid;
$bordererror:      red 3px solid;
$shadowhover:      lightblue 5px 5px; 