@use 'variables';

.new-tweet {
  display: none;
  margin-bottom: 1.5em;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  text-transform: uppercase;
  font-family: "Bungee", cursive;
}

.new-tweet button {
  border: none;
  background-color: variables.$bgcolornav;
  color: variables.$textcolorspecial;
}

.new-tweet textarea {
  width: 100%;
  border: none;
  resize: none;
  outline: none;
  border-bottom: variables.$border;
  background-color: variables.$bgcolor;
}

#error {
  color: variables.$textcolorerror;
  border: variables.$bordererror;
  display: none;
  margin-top: 10px;
}

#error p {
  margin-left: 35%;
}