footer button {
  background: red;
  display: none;
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 60px;
  padding-bottom: 15px;
  outline: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 100px;
  width: 100px;
}

footer button:hover {
  color: black;
}
