body > header {
  height: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: orange;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  padding-top: 120px;
}