nav {
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

span {
  margin: 1.5em;
}

#logo {
  text-transform: uppercase;
  font-family: "Bungee", cursive;
}