.tweet {
  display: flex;
  flex-direction: column;
  border: #535353 5px solid;
  margin-bottom: 20px;
}

.tweet header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.tweet div {
  display: flex;
  margin: 5px;
}

.tweet #tag {
  display: none;
}

.tweet p {
  height: 60px;
  border-bottom: #535353 5px solid;
  margin: 20px;
  padding-left: 20px;
}

.tweet footer {
  display: flex;
  justify-content: space-between;
  font-size: medium;
  align-items: center;
  margin: 5px 30px 0px 30px;
}

.tweet:hover {
  box-shadow: 5px 5px lightblue;
  font-weight: bold;
}

.tweet:hover #tag {
  display: block;
}

@media only screen and (min-width: 1024px) {
  .tweets {
    width: 50%;
    margin-top: 120px;
  }
}
